.product{
    width: 300px;
    height: 450px;
    /* border: 1px solid #95A0A7; */
    border: 1px solid #20170a;
    background-color: rgb(248, 218, 163);
    border-radius: 8px;
}
.product img{
    padding-top: 6px;
    width: 286px;
    height: 286px;
    border-radius: 8px ;
}
.product p{
    font-size: 18px;
}
.product-name{
    font-family: 'lato';
    font-style: serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
} 

.btn{
    background-color: rgb(248, 218, 163);;
    color: #20170a;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #20170a;
    font-size: 15px;
    font-weight: 600;
}

.btn:hover{
    background-color: #20170a;
    color: wheat;
}

@media screen and (max-width:768px){
    .product{
        width: 600px;
        height: 750px;
        /* border: 1px solid #95A0A7; */
        border: 1px solid #20170a;
        background-color: rgb(248, 218, 163);
        border-radius: 10px;
    }

    .product img{
        padding: 0 10px;
        width: 586px;
        height: 586px;
        border-radius: 10px ;
    }

    .product p{
        font-size: 25px;
    }
}