.header{
    height: 80px;
    background-color: #20170a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header img{
    height: 40px;
}
.header h1{
    color: orange;
    font-family: "Metamorphous", cursive;
    font-size: 30px;
}
.header a{
    color: orange;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: white;
}

@media screen and (max-width:1100px){
    .header{
        width: fit-content;
    }
}

